
$background-color: #202020;;

.container{
    margin: 0 auto;
    max-width: 1050px;
}

.header{
    background: url("../images/bg/Rectangle\ 1.png") center center/cover no-repeat;
    width: 100%;
    height: 800px;
    padding: 47px 0 119px 0;
    &__img{
        padding-right: 16px;
    }
    &__logo{
        padding-right: 235px;
    }
    &__title{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        margin-top: 402px;
    }
    &__menu{
        display: none;
        &-fixed{
            display: flex;
        }
        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            border-radius: 20px;
            border: 1px solid #FFF;
            margin-right: 16px;
            cursor: pointer;
        }
        &-link{
            color: #FFF;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            text-decoration: none;
        }
    }
    &__fixed{
        background-color: $background-color;  
        position: fixed;  
        top: 0;  
        z-index: 1;
        width: 100%;  
    }
}
.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.meet{
    background:$background-color;
    height: 470px;
    padding: 101px 0 102px 0 ;
    position: relative;
    
    &__title{
        color: #FAEB49;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }
    &__description{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
    &__wrapper{
        display: flex;
    }
    &__item{
        margin-right: 96px;
    }
    &__number{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }
    &__describe{
        color: #FFF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }
    &__elips{
        &-first{
            width: 268px;
            height: 512px;
            transform: rotate(-45deg);
            flex-shrink: 0;
            border-radius: 512px;
            border: 1px solid #737373;
            position: absolute;
            top:0;
            right: 150px;
        }
        &-second{
            width: 268px;
            height: 512px;
            transform: rotate(45deg);
            flex-shrink: 0;
            border-radius: 512px;
            border: 1px solid #737373;
            position: absolute;
            top:0;
            right: 150px;
        }
    }
}

.project{
    height: 1460px;
    background: #3C3C3C;
    padding: 86px 0 105px 0;
    &__container{
        border-radius: 24px;
        background: #FFFEF2;
        display: flex;
        width: 1050px;
        height: 680px;
        padding: 40px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: relative;
    }
    &__img{
        padding-left: 18px;
        &-vector{
            position: absolute;
            top: 70px;
            right: 78px;
            cursor: pointer;
        }
    }
    &__vector{
        top: 200px;
        right: 0;
    }
    &__item{
        display: flex;
        width: 305px;
        height: 555px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 24px;
        background: #FFFEF2;
        margin-right: 25px;
        position: relative;
        &-img{
            padding-left: 9px;
        }
  
        &-title{
            color: #565656;
            font-family: DynaPuff;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
        }
        &-description{
            color: #000;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
    &__title{
        color: #565656;
        font-family: DynaPuff;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
    }
    &__descriotion{
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }
    &__wrapper{
        margin-top: 63px;
        display: flex;
    }
}
.design{
    background: $background-color;
    padding: 82px 0 138px 0;
    &__title{
        color: #FFF;
        font-family: DynaPuff;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
    }
    &__image{
        margin-top: 38px;
    }
    &__wrapper{
        &-img{
            display: flex;
            justify-content: space-between;
            margin-top: 26px;
        }
    }
}

.refrigerator{
    padding: 303px 0 323px 0;
    background: url('../images/bg/Rectangle\ 8.png') center center/cover no-repeat;

    &__title{
        color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }
}

.footer{
    background:$background-color;
    max-height: 530px;
    padding: 78px 0 30px 0;

    &__description{
       
        border-radius: 139px;
        border: 1px solid var(--Gray-6, #F2F2F2);
        &-media{
            display: flex;
            justify-content: center;
            color: #FFF;
            text-align: center;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
    &__item{
      display: flex;
      align-items: flex-end;
      padding-left: 50px;
    }

    &__title{
        color: #FFF;
        text-align: center;
        font-family: DynaPuff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        padding-left: 45px;
    }
    &__describe{
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-right: 24px;
    }
    &__wrapper{
        &-item{
            display: flex;
            padding-left: 210px;
            align-items: center;
        }
    }
    &__social{
        &-media{
            margin-left: 24px;
            margin-top: 163px;
            display: flex;
            justify-content: center;
            
        }
        &-item{
            margin-right: 34px;
        }
    }
}
.menu-btn{
    display: none;
    align-items: center;
    position: absolute;
    top: 90px;
    right:40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eeee90;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
   
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #b6d66b;
  }
   
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }
  @media screen and (min-width:768px) and (max-width:1200px) {
    .header{
        &__menu{
            display: flex;
            &-fixed{
                display: none;
            }
            &-item{
                display: none;
            }
        }
        &__title{
            padding-left: 50px;
            padding-right: 500px;
        }
    }
    .menu-btn{
        display: block;
    }
    .meet{
        padding: 70px;
        &__elips{
            &-first{
                margin-left: 40px;
            }
            &-second{
                margin-left: 40px;
            }
        }
    }
    .project{
        padding: 20px;

        &__img{
            width: 660px;
        }
        &__container{
            padding: 5px;
            width: 100%;
        }
        &__item:last-child{
            display: none;
        }
    }
    .design{
        padding: 20px;
        &__image{
            width: 704px;
        }
        &__img{
            width: 334px;
        }
    }

    .refrigerator{
        padding: 20px;
    }

    .footer{
        padding: 40px;
        &__social{
            &-media{
                margin-top: 60px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .header{
        &__menu{
            display: flex;
            &-fixed{
                display: none;
            }
            &-item{
                display: none;
            }
        }
        &__title{
            font-size: 48px;
            padding-left: 30px;
        }

    }
    .menu-btn{
        display: block;
    }
    .meet{
       padding: 10px;
       &__number{
        font-size: 36px;
       }
       &__item{
        margin-right: 45px;
       }
    }
    .project{
        padding: 20px;
        height: 1150px;

        &__img{
            margin-top: 20px;
            padding-left: 3px;
            width: 260px;
            &-vector{
                display: none;
            }
        }
        &__container{
            padding: 5px;
            height: 500px;
            width: 100%;
        }
        &__item:last-child{
            display: none;
        }
        &__item:first-child{
            display: none;
        }
        &__item{
            width: 271px;
            padding: 5px;
            &-img{
                width: 245px;
            }
        }
    }
    .design{
        padding: 20px;
        &__title{
            font-size: 36px;
        }
        &__image{
            width: 270px;
            height: 270px;
        }
        &__img{
            margin-bottom: 32px;
            width: 270px;
            height: 270px;
        }
        &__wrapper{
            &-img{
                display: flex;
                flex-direction: column
            }
        }
    }
    .refrigerator{
        height: 500px;
        &__title{
            font-size: 24px;
        }
    }
    .footer{
        padding:62px 5px 15px 0;
        &__title{
            font-size: 20px;
            padding-left: 10px;
        }
        &__describe{
            font-size: 15px;
        }
        &__img{
            width: 40px;
            height: 40px;
        }
        &__wrapper{
            &-item{
                padding-left: 100px;
            }
        }
        &__social{
            &-media{
                margin-top: 60px;
            }
        }
    }
}